<!DOCTYPE html>
<html>
    <head>
        <title> Weather Forecast</title>
   
        <link rel="stylesheet" href="/css/styles.css">
        
    </head>
    <body>
        <div id="'container">
            <h1>We ran into a problem</h1>
            <h2>{{errorMessage}}</h2>
       </div>
    </body>
</html>